@model IEnumerable<SellersProject.Models.DepartmentModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>
</p>
<div class="table_overflow-x">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-outline-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
