<body>
<div class="container_home">
	<header>
		<div>
			<h1>Olá! Sou Wrlan Silva Desenvolvedor Back-End</h1>
			<p>
				Desenvolvedor Back-End com experiência em desenvolvimento
				de aplicações WEB MVC escaláveis e responsivas. Sou apaixonado por criar
				soluções tecnológicas que resolvem problemas reais e que agregam valor
				aos usuários.
			</p>
		</div>
	</header>
	<!-- Sobre -->
	<section>
		<div>
			<h3>
				Desenvolvedor apaixonado por tecnologia e soluções criativas
			</h3>
			<p>
				Olá, eu sou Wrlan Silva, um desenvolvedor Back-End apaixonado por
				tecnologia e soluções criativas. Com 1 ano de experiência em
				desenvolvimento web, tenho trabalhado com diversas tecnologias e
				plataformas para criar soluções robustas e escaláveis que atendam às
				necessidades dos clientes.
			</p>
			<p>
				Eu amo o desafio de encontrar soluções inovadoras e criativas para
				problemas complexos e estou sempre buscando aprender e crescer como
				profissional.
			</p>
		</div>
	</section>
	<!-- habilidades -->
	<section>
		<div>
			<h2>Minha caixinha de ferramentas</h2>
			<p>
				Descubra as habilidades e ferramentas que domino e que me permitem
				criar soluções criativas e funcionais para meus clientes.
			</p>
			<ul>
				<li>
					<h3>Linguagem Principal</h3>
					<p>
						C# é uma linguagem de programação, multiparadigma, de tipagem forte, desenvolvida pela Microsoft como parte da plataforma .NET
					</p>
				</li>
				<li>
					<h3>Web Design</h3>
					<p>
						ASP.NET é a plataforma da Microsoft para o desenvolvimento de aplicações Web. Permite criar páginas dinâmicas.
					</p>
				</li>
				<li>
					<h3>Framework</h3>
					<p>
						.NET Framework é uma iniciativa da empresa Microsoft, que visa uma plataforma única para desenvolvimento e execução de sistemas e aplicações.
					</p>
				</li>
				<li >
					<h3>Banco de Dados</h3>
					<p>
						O Microsoft SQL Server é um sistema gerenciador de Banco de dados relacional desenvolvido pela Microsoft.
					</p>
				</li>
			</ul>
		</div>
	</section>
	<!-- Footer -->
	<footer>
		<div >
			<h2>Vamos conversar?</h2>
			<p>
				Ficarei feliz em saber mais sobre seus projetos e como podemos
				trabalhar juntos para torná-los realidade.
			</p>
			<div>
				<span>wrlandev@gmail.com</span> <br />
				<span>(21) 98802-8939</span>
			</div>
				<p><a href="#">Linkedin</a> <a href="#">Instagram</a></p>
		</div>
	</footer>
</body>
</div>
